.App {
  display: flex;
  align-items: center;
  justify-content: center;
}
.kalkulyator{
  border: 2px solid black;
  width: 310px;
  margin-top: 120px;
  border-radius: 10px;
}
.card{
  width: 250px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  grid-gap: 10px;
}
.input{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  border: none;
  margin: auto;
  height: 50px;
  font-size: 30px;
  text-align: right;
}